// COLORS
$bg-color: #1e252b;
$main-text: #e3e3e3;
$btn-bg-hover: #50505038;
$card-rating: #f39c12;
$card-hover: #b6b2b21f;
$bg-header: #546778;
$bg-submit-btn: white;
// TRANSITION
$transition-all: 0.3s all;

// FONT_SIZE
$font-size-header: clamp(0.8rem, 2.5vw, 1.5rem);
$font-size-card: clamp(0.5rem, 2.5vw, 1.2rem);
$font-size-user: clamp(0.5rem, 2.5vw, 1.2rem);
$font-size-description: clamp(0.5rem, 2.5vw, 1.3rem)
